{% extends 'base.html' %} {% load static %} {% block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div
          class="col-lg-8 col-md-12 d-flex align-items-center justify-content-center"
          style="min-height: 5vh"
        >
          <div class="text-center">
            <h1>Welcome to Servlist</h1>
            <p>Your go-to website for free traffic</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="sidebar text-right">
            <form>
              <input
                type="text"
                id="search-input"
                placeholder="Search Business..."
              />
              <button type="submit">Go</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("search-form")
        .addEventListener("submit", function (e) {
          e.preventDefault(); // Prevent the default form submission

          // Get the search query from the input field
          const searchQuery = document.getElementById("search-input").value;

          // You can replace this with your actual search functionality or redirect to a search results page
          alert("Performing search for: " + searchQuery);
        });
    </script>
    <main>
      <section class="listed-businesses">
        <div class="content">
          <h2>Featured Businesses</h2>
          <p>Explore New businesses</p>
          <a href="/business/businesses">List Now</a>
        </div>
      </section>
      <section class="business-listing">
        <div class="content">
          <h2>Business Listing</h2>
          <p>Reach a wider audience.</p>
          <a href="/user/register">List Now</a>
        </div>
      </section>

      <!-- Business Promotion Section -->
      <section class="business-promotion">
        <div class="content">
          <h2>Business Promotion</h2>
          <p>Boost your business with our promotion services.</p>
          <a href=""mailto:franblog7@gmail.com"">Learn More</a>
        </div>
      </section>

      <!-- Business Consultation Section -->
      <section class="business-consultation">
        <div class="content">
          <h2>Business Consultation</h2>
          <p>Get expert advice for your business.</p>
          <a href="mailto:franblog7@gmail.com">Contact Us</a>
        </div>
      </section>

      <!-- Add more service sections as needed -->
    </main>
  </body>
</html>
{% endblock %}
