{% extends 'base.html' %} {% block content%}
  <body>
    <div class="container">
      <div class="row">
        <div
          class="col-lg-8 col-md-12 d-flex align-items-center justify-content-center"
          style="min-height: 5vh"
        >
          <div class="text-center">
            <h1 style="text-align: left; font-size: 24px; margin-left: 5px;">Welcome to Servlist</h1>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="sidebar text-right">
            <form id="search-form-home">
              <input
                type="text"
                id="search-input"
                placeholder="Search Business..."
              />
              <button id="GoButton" type="submit">Go</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <main>
      <h2 style='font-size: 36px; font-color: black; text-align: center; font-weight: bold;'>Featured Businesses</h2>
      <section class="listed-businesses">
        <div class="content">
          <a class="darklinkonhover" href="/business/businesses">Browse Businesses</a>
        </div>
      </section>
      <p style='font-size: 36px; font-color: black; text-align: center; font-weight: bold;'>Own a Business? List for Free Now!</p>
      <section class="business-listing">
        <div class="content">
          <a class="darklinkonhover" href="/user/register">List New Business Now</a>
        </div>
      </section>
      <p style='font-size: 36px; font-color: black; text-align: center; font-weight: bold; margin-bottom: 20px;'>Promote Your Business</p>
      <!-- Business Promotion Section -->
      <section class="business-promotion">
        <div class="content">
          <a class="darklinkonhover" href="/contact"
            >Start Promotion Here</a
          >
        </div>
      </section>
      <p style='font-size: 36px; font-color: black; text-align: center; font-weight: bold;'>Need Help? Reach Out To Us</p>
      <!-- Business Consultation Section -->
      <section class="business-consultation">
        <div class="content">
          <a class="darklinkonhover" href="/contact"
            >Contact Us</a
          >
        </div>
      </section>

      <!-- Add more service sections as needed -->
    </main>
  </body>
</html>
{% endblock %} {% block customtitle %} User Home - {% endblock %}
<!-- New scripts -->
{% block scripts %}
<script>
  document
    .getElementById("search-form")
    .addEventListener("submit", function (e) {
      e.preventDefault(); // Prevent the default form submission

      // Get the search query from the input field
      const searchQuery = document.getElementById("search-input").value;

      // You can replace this with your actual search functionality or redirect to a search results page
      alert("Performing search for: " + searchQuery);
    });
</script>
{% endblock %}
