<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <label for="user_name">Username:</label>
      <input type="user_name" id="user_name" name="user_name" /><br /><br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" /><br /><br />
      <input
        type="checkbox"
        id="show_password"
        onclick="togglePasswordVisibility()"
      />
      <label for="show_password">Show Password</label><br /><br />
      <input type="submit" value="Log In" />
    </form>
    <script>
      function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var showPasswordCheckbox = document.getElementById("show_password");

        if (showPasswordCheckbox.checked) {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }
    </script>
  </body>
</html>
