{% extends 'base.html' %} {% block content %}
  
<h2 style="margin-left: 70px; margin-top: 20px; text-align: center;">About Us</h2>

<p style="margin-left: 70px; margin-right: 70px;"> Welcome to Servlist, your premier online business listing platform designed to empower businesses of all sizes – from small startups to medium enterprises and established corporations. We're here to help you gain visibility, connect with customers, and take your business to new heights.</p>

<h2 style="margin-left: 70px;">Our Mission</h2>

<p style="margin-left: 70px; margin-right: 70px;">At Servlist, our mission is to simplify the process of business discovery and promotion. We understand the challenges that businesses face in today's competitive landscape, and we're committed to providing a platform that bridges the gap between businesses and their potential customers.</p>

<h2 style="margin-left: 70px;">Our Vision</h2>

<p style="margin-left: 70px; margin-right: 70px;">We envision a world where businesses, regardless of their scale, can thrive and succeed. Servlist strives to be the go-to platform that levels the playing field, allowing every business to shine and reach its full potential.</p>

<h2 style="margin-left: 70px;">Our Founders</h2>

<p style="margin-left: 70px; margin-right: 70px;">Servlist was brought to life by a passionate and dedicated team of individuals who share a vision for fostering business growth and success. Meet our founders:</p>

<li style="margin-left: 90px; margin-right: 90px;"> <b>Francis Onyach</b> - Francis is a seasoned entrepreneur with a background in business management. He has a passion for innovation and technology. Francis's insights into the business world laid the foundation for Servlist's creation</li> <br>
<li style="margin-left: 90px; margin-right: 90px;"> <b>Edward Njogu</b> - Edward is An experienced strategist who understands the needs of businesses, both large and small. Edward's expertise in business development is integral to Servlist's mission.</li> <br>
<li style="margin-left: 90px; margin-right: 90px;"> <b>Ajayi Grey</b> - Grey is A creator with an eye for design and user experience. Grey's talent is reflected in Servlist's user-friendly interface and aesthetic appeal.</li> <br>

<h2 style="margin-left: 70px;"> What We Offer</h2>

<p style="margin-left: 70px; margin-right: 70px;">Servlist is your one-stop solution for all things related to business listings. Here's how we can assist you: </p>

<li style="margin-left: 90px; margin-right: 90px;">Business Listing: Whether you're a startup, a local shop, or a multinational corporation, Servlist offers a platform to list your business, making it easily discoverable by potential customers.</li> <br>

<li style="margin-left: 90px; margin-right: 90px;">Business Discovery: Looking for a specific service or product? Our platform allows users to browse a wide range of businesses, from diverse industries and locations, to find the perfect match for their needs.</li> <br>

<li style="margin-left: 90px; margin-right: 90px;">Business Promotion: Elevate your business's online presence with our promotional features. Showcase your offerings to a broader audience and stand out in the competitive market.</li> <br>

<li style="margin-left: 90px; margin-right: 90px;">Business Consultation: Seeking expert advice? Our platform connects you with businesses that offer consultation services, helping you make informed decisions for your company's growth.</li> <br>

<h2 style="margin-left: 70px;">Get in Touch</h2>

<p style="margin-left: 70px; margin-right: 70px;"> We value your feedback, suggestions, and inquiries. Feel free to reach out to us at any time. 
You can contact us via email at:</p>

<li style="margin-left: 90px; margin-right: 90px;"> Francis Onyach: franblog7@gmail.com</li> <br>
<li style="margin-left: 90px; margin-right: 90px;"> Edward Njogu: ednjogu@gmail.com</li> <br>

<h2 style="margin-left: 70px;">Join Servlist Today</h2>


<p style="margin-left: 70px;">Servlist is not just a platform; it's a community of businesses, entrepreneurs, and visionaries working together to build a brighter future. Join us today to list your business, discover new opportunities, and take the first step toward achieving your business goals.</p>

<p style="margin-left: 70px;"> Thank you for choosing Servlist, where your success is our priority. Together, we'll shape the future of business.</p>

{% endblock %} {% block customtitle %} About Us - {% endblock %}
