{% extends 'base.html' %} {% block content %}
<h2 style="text-align: center">Contact and Support</h2>
<p class="px-5">You can reach out to the team members via:</p>
<button class="button-link" onclick="window.location.href='mailto:franblog7@gmail.com'">Talk to Frankie</button><br></br> <br></br>
<button class="button-link" onclick="window.location.href='mailto:njogued@gmail.com'">Talk to Ed</button><br></br> <br></br>
<button class="button-link" onclick="window.location.href='mailto:njogued@gmail.com'">Talk to Grey</button>
{% endblock %} {% block customtitle %} Contact Us - {% endblock %}
