{% extends 'base.html' %} {% block content %}
<h2 style="text-align: center">Contact and Support</h2>
<p class="px-5">You can reach out to the team members via:</p>
<a class="darklinkonhover" href="mailto:franblog7@gmail.com">Talk to Frankie</a> <br></br> <br></br>
<a class="darklinkonhover" href="mailto:njogued@gmail.com">Talk to Ed</a> <br></br> <br></br>
<a class="darklinkonhover" href="mailto:njogued@gmail.com">Talk to Grey</a>
{% endblock %} {% block customtitle %} Contact Us - {% endblock %}
